.up {
    padding: 6rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
    padding-bottom: 24px;
  }
  
  h2{
    text-align: center;
    padding: 30px;
    background-color: #4cc3ef;
  
    
  }
  h5{
    text-align: center;
    padding: 10px;
    color: #f2efef;
    font-size: 20px;
    margin-top: -50px;
    
  }
  h4{
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    margin-top: -50px;
    background-color: #f60a0a;
  }
  .loader{
    border :6px solid #060706;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 30px;
  }
  
  .up-container {
    background: url('/public/assets/images/1.jpg') center center/cover no-repeat;  
    height:20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .up-container3 {
    background-color: #f7fbfb;
    height:30vh;
    width: 50%;
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .up-container2 {
    background-color: #f7fbfb;
    height:30vh;
    width: 50%;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  .up-container4{
    background-color: black;
    height:10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .up-container5{
    background-color: black;
    height:5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .up-container6{
    background-color: rgb(180, 176, 176);
    height:15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .filepicker {
    background-color: #f6f8f8;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
  }

  .selectvalue {
    background-color: #f6f8f8;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    font-size: 16px;
  }
  .up-btns {
    margin-top: 32px;
    
  }
  
  .up-btns .btn {
    margin: 6px;
  }

  .upcards {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .upcards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .upcards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .upcards__items {
    margin-bottom: 24px;
  
  }
  
  .upcards__item {
    
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .upcards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .upcards__item__pic-wrap {
    
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }

  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .upcards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #070707;
    box-sizing: border-box;
  }
  
  .upcards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .upcards__item__img:hover {
    transform: scale(1.1);
  }
  
  .upcards__item__info {
    padding: 20px 30px 30px;
  }
  
  .upcards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }


.upload-btn:hover {
  background-color: #f1f5f2;
}

button {
  background-color: rgb(51, 52, 52);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0ad8eb;
}

 @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .upcards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .upcards__item {
      margin-bottom: 2rem;
    }
  }
  @keyframes spin{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
  }
  